@charset "utf-8";

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */


/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


/* Force scrollbar */

html {
    overflow-y: scroll;
}


/* Align radios and text inputs with their label */

input[type='radio'] {
    vertical-align: text-bottom;
}


/* Hand cursor on clickable input elements */

label,
input[type='button'],
input[type='submit'],
button {
    cursor: pointer;
}

strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
}

em {
    font-style: italic;
}

img {
    width: 100%;
    border: 0;
    vertical-align: middle;
}

sub,
sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
}

sup {
    top: -.7em;
}

sub {
    bottom: -.25em;
}


/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
    display: table;
    content: " ";
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}


/*for all*/

body {
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
}

li {
    display: inline-block;
    list-style-type: none;
}


/*for wrapper*/

.wrapper {
    max-width: 1360px;
    width: 86%;
    margin: 0 auto;
}


/*=================================
  container starts here
=================================*/

.container {
    max-width: 1060px;
    width: 80%;
    margin: 0 auto;
}


/*=================================
  container ends starts here
=================================*/


/*=================================
  Header styling starts here
=================================*/

.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

header {
    display: flex;
    flex-flow: column;
}

header .section1 {
    margin: 0px 50px 50px;
    display: flex;
    margin-left: auto;
}

header .section1 .block {
    height: 50px;
    padding: 15px;
    margin-right: 10px;
    background: #66C6E6;
    position: relative;
}

header .section1 .block i {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    cursor: pointer;
    transition: transform 1s;
}

header .section1 .block i:hover {
    transform: scale(1.5, 1.5);
}

header .section1 .block:nth-child(1) {
    display: flex;
    flex-direction: column;
    background: none;
}

header .section1 .block:nth-child(1) .search-box {
    margin-left: auto;
    position: relative;
}

header .section1 .block:nth-child(1) ul li:not(:first-child)::before {
    content: '';
    margin-right: 2px;
    margin-left: 2px;
    border-left: solid 1px gray;
}

header .section1 .block:nth-child(1) ul li a {
    font-size: small;
    padding: 10px 0px 10px 10px;
    color: #9E9B96;
    transition: padding 0.5s;
}

header .section1 .block:nth-child(1) ul li a:hover {
    background-color: #66C6E6;
    padding: 10px 10px 10px 10px;
    margin-right: -5px;
    color: white;
}

.home::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f015";
}

.message::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0e0";
}

.search-box .search {
    position: absolute;
    right: 5px;
    color: white;
    top: 8px;
    cursor: pointer;
    transition: transform 1s;
}

.search-box .search:hover {
    transform: scale(1.5, 1.5);
}

.search-box input {
    border: none;
    outline: none;
    padding: 8px;
    background: #dddbdb;
}

.search::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f002";
}

.section2 {
    margin: 20px 0px;
}

.section2 ul li {
    padding: 10px;
}

.section2 ul li:not(:last-child) {
    border-right: solid 5px #949494;
}

.section2 ul li:hover {
    background-color: wheat;
}

.section2 ul li a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    color: #0889b4;
}

.section2 ul li p {
    color: #9E9B96;
    font-size: small;
}


/*=================================
  Header styling ends here
=================================*/


/*=================================
  main styling starts here
=================================*/


/*=================================
  main styling ends here
=================================*/


/*=================================
  footer styling starts here
=================================*/


/*=================================
  footer styling ends here
=================================*/


/*media query starts*/


/*media query for 995px starts here*/

@media only screen and (max-width: 995px) {}